doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Node.js Core Testing

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Node.js Core Testing

      section
        h1 Rich Trott

      section
        h1 @Trott on GitHub

      section
        h1 @Trott on Twitter

      section
        h1 @Trott on etc.

      section
        h1 Speaking of <i>et cetera</i>

      section
        h1 "Elenore" by The Turtles

      section
        h1 But enough about The Turtles&hellip;

      section
        h1 Back to who I am&hellip;

      section
        h1 Node.js Enthusiast

      section
        h1 Contributor to Node.js Core

      section
        h1 Software Engineering Generalist

      section
        h1 Pretty OK Person Lately, I Guess

      section
        h1 Next Time You're At A Party&hellip;

      section
        h1 My Last Performance Evaulation&hellip;

      section
        h1 University of California (UC)

      section
        h1 UC San Francisco (UCSF)

      section
        h1 UCSF Library

      section
        h1 Center for Knowledge Management

      section
        h1 As far as Node.js goes&hellip;

      section
        h1 Tests

      section
        h1 @-mentions

      section
        h1 :-o

      section
        h1 :-)

      section
        h1 D-8

      section
        h1 If I'm "The Test Person"&hellip;

      section
        h1 &hellip;We Need Help.

      section
        h1 Node.js Testing Working Group

      section
        h1 Why Should You?

      section
        h1 Without good tests&hellip;

      section
        h1 &hellip;Node.js would suck.

      section
        h1 Ease into the project.

      section
        h1 Learn <em>any</em> part!

      section
        h1 Learn <em>every</em> part!

    script(src='build/build.js')